<label>Enter first number:</label>


<input type="number"
       name ="firstNumber"
       [(ngModel)]="numbers.firstNumber"
       value="1"
       onfocus="this.value=''"><br/>
<label>Enter second number:</label>

<input type="number"
       name="secondNumber"
       [(ngModel)]="numbers.secondNumber"
       value="1"
       onfocus="this.value=''"><br/>

  <button id="sum"
          (click)="sum()"
          type="button">+
  </button>


  <button id="subtraction"
          (click)="subtraction()"
          type="button">-
  </button>

<div id="square"></div>
